form button:hover {
  background-color: lightblue;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body a {
  font-family: 'Bebas Neue', cursif;
  font-size: 20px;
}

.logo {
  width: 80px;
}

.logo:hover {
  -webkit-animation: echec 0.3s ease-in-out;
          animation: echec 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
  .logo {
    margin: 10px;
  }
}

#nav {
  color: black;
}

#nav:hover {
  -webkit-box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.2);
  color: #838682;
}

.nav-item {
  color: #585454;
}

.nav-item:hover {
  -webkit-box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.2);
  color: #0d2b44;
}

h1 {
  font-family: 'Bebas Neue', cursif;
  font-weight: lighter;
  color: #333;
  letter-spacing: 5px;
  text-align: center;
  margin: 10px;
  padding: 30px 0;
  font-size: 2vmax;
  -webkit-animation: slidedown 5s ease-out;
          animation: slidedown 5s ease-out;
}

@media screen and (max-width: 700px) {
  h1 {
    margin: 9px;
    letter-spacing: 0px;
    width: 100%;
    background-color: white;
  }
}

.container {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}

.question-block {
  padding: 15px 25px 25px;
  margin: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  background: #aaa9a9;
}

.question-block h4 {
  padding: 10px 0;
  font-size: 22px;
}

.question-block label {
  font-size: 20px;
}

.question-block input[type='radio'] {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  margin: 10px;
}

#resultats {
  position: relative;
  padding: 25px;
  margin: 10px 0px 70px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#resultats h2 {
  margin: 50px;
}

.aide {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.note {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.echec {
  -webkit-animation: echec 0.3s ease-in-out;
          animation: echec 0.3s ease-in-out;
}

form button {
  border: none;
  outline: none;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  padding: 20px 40px;
  cursor: pointer;
  font-size: 25px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.btn_rocket {
  position: fixed;
  right: 80px;
  top: 450px;
  opacity: 59%;
  font-size: 50px;
}

.btn_rocket :hover {
  opacity: 49%;
}

@media screen and (max-width: 700px) {
  .btn_rocket {
    right: 12px;
    top: 520px;
    font-size: 30px;
  }
}

@-webkit-keyframes echec {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  33% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  66% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes echec {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  33% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  66% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes slidedown {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.container-icon {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slot {
  position: relative;
  -webkit-perspective: 100px;
          perspective: 100px;
}
/*# sourceMappingURL=style.css.map */